{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Shvetsov Dmitry">
		<title>{% block title %}Главная{% endblock %} | {{ site_name }}</title>
		{% bootstrap_css %}
        {% bootstrap_jquery %}
		<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
    </head>
    <body class="container-fluid">
        <header class="mb-4">
            <h2 class="display-2 text-center"><a href="{% url 'articles:index' %}" class="main-page-link">{{ site_name }}</a></h2>
        </header>
        <!-- Main menu -->
        <div class="row">
            <ul class="col nav justify-content-end border">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'articles:add_article' %}" class="nav-link">Добавить статью</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'articles:profile' %}" class="nav-link">Профиль</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Поиск</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                   <a href="{% url 'articles:logout' %}" class="nav-link">Выход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'articles:login' %}" class="nav-link">Вход</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'articles:register' %}" class="nav-link">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-auto border">
                    <h5>Популярные статьи</h5>
                    {% for article in rate_articles %}
                        {% url 'articles:article' pk=article.pk as url %}
                        <li class="">
                            <a href="{{ url }}{{ all }}">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </div>
                <div class="col border">
                    {% bootstrap_messages %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="mt-3">
            <p class="text-right font-italic">&copy; Shvetsov Dmitry, 2019 г.</p>
        </footer>
    </body>
</html>