{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<title>{% block title %}Главная{% endblock %} | {{ site_name }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Shvetsov Dmitry">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<!-- Prevent closing dropdown when it's onclick -->
		<script type="text/javascript">
			$(function () {
        		$('.dropdown-toggle').dropdown();
        		$('.dropdown div').click(function (e) {
        			e.stopPropagation();
        		});
    		});
		</script>
	</head>

	<body>
		<header class="shadow">
			<nav class="navbar navbar-expand-lg navbar-dark shadow nav-bg">
			    <a class="navbar-brand" href="{% url 'articles:index' %}">{{ site_name }}</a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			        <div class="navbar-nav mr-auto">
			            <a class="nav-link nav-item" href="{% url 'articles:index' %}">Главная<span class="sr-only">(current)</span></a>

                        <div class="nav-item dropdown" id="profileDropdown">
                        	{% if user.is_authenticated %}
				            	<a class="dropdown-toggle nav-link" id="profileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Профиль</a>
			            	{% else %}
			            		<a class="dropdown-toggle nav-link" id="profileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Вход/Регистрация</a>
	            			{% endif %}
				            <div class="dropdown-menu ml-0 bg-light shadow" aria-labelledby="profileDropdownLink">
    	                        {% if user.is_authenticated %}
				            	<!-- <h6 class="dropdown-header">Профиль</h6> -->
						        <div class="dropdown-item">
						            <a class="btn btn-outline-info btn-block" href="{% url 'articles:profile' username=user.username %}">Профиль</a>
						        </div>
						        <div class="dropdown-divider"></div>
						        <div class="dropdown-item">
						            <a class="btn btn-outline-secondary btn-block" href="{% url 'articles:add_article' %}">Добавить статью</a>
						        </div>
						        <div class="dropdown-divider"></div>
				            	<div class="dropdown-item">
				            		<a href="{% url 'articles:logout' %}" class="btn btn-outline-danger btn-block">Выход</a>
				            	</div>
						        {% else %}
				            	<div class="dropdown-item">
				            		<a href="{% url 'articles:login' %}" class="btn btn-info btn-block">Вход</a>
				            	</div>
				            	<div class="dropdown-item">
				            		<a href="{% url 'articles:register' %}" class="btn btn-info btn-block">Регистрация</a>
				            	</div>
				            	<div class="dropdown-divider"></div>
				            	<h6 class="dropdown-header">Войти с помощью</h6>
				            	<!-- <div style="position: absolute; left: 5%; bottom: 5%;">a</div> -->
				            	<div class="row d-flex flex-row justify-content-between container-fluid align-items-center">
				            		<div class="ml-2 col-1 auth-item">
				            			<a href="#">
				            				<img class="auth-icon" src="https://playntrade-a.akamaihd.net/jbimg/76f4f371fa2a487c5f7e26e5f6dd4c93.png" height="25">
				            			</a>
				            		</div>
				            		<div class="col-1 auth-item">
				            			<a href="#">
				            				<img class="auth-icon" src="http://cdn.onlinewebfonts.com/svg/download_190412.png" height="25">
				            			</a>
				            		</div>
				            		<div class="col-1 auth-item">
				            			<a href="#">
				            				<img class="auth-icon" src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_1280.png" height="25">
				            			</a>
				            		</div>
				            		<div class="col-1 auth-item">
				            			<a href="#">
				            				<img class="auth-icon" src="https://habr.com/images/favicons/favicon-32x32.png" class="shadow border" height="25">
				            			</a>
				            		</div>
				            	</div>
				            	{% endif %}
				            	<!-- <div style="position: absolute; right: 5%; bottom: 5%;">a</div> -->
				            </div>
				        </div>
			        </div>
			        <form class="form-inline mt-2 mt-md-0">
	        			<input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
			        	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
			        </form>
			    </div>
			</nav>
		</header>
		{% bootstrap_messages %}
		<div class="row content">
			<div class="col-light col-xs-6 col-sm-12 col-md-12 col-lg-3 text-center pr-0">
				<nav class="navbar navbar-expand-lg navbar-dark p-0 d-block">
		    		<h3 class="text-white py-3 px-1 shadow text-header-hl d-none d-lg-block d-md-none text-shadow-md">Популярные статьи</h3>
		    		<div class="navbar-toggler w-100 bg-dark" type="button" data-toggle="collapse" data-target="#articlesCollapse" aria-controls="articlesCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    			<h3 class="text-white py-3 shadow text-header-hl"><span class="navbar-toggler-icon"></span>Популярные статьи</h3>
		    		</div>
		    		<div class="collapse navbar-collapse flex-column w-100 nabvbar-nav" id="articlesCollapse">
						<div class="col-light text-white list-unstyled shadow p-2 text-body-hl w-100">
                            {% for article in rate_articles %}
                                {% url 'articles:article' pk=article.pk as url %}
								<a class="my-1 nav-item nav-link btn btn-secondary" href="{{ url }}{{ all }}">{{ article.title }}</a>
                            {% endfor %}
						</div>
					</div>
				</nav>
			</div> <!-- /col-light -->

			<div class="col-md-12 col-lg-9 col-dark pr-0 pl-lg-0 ml-md-0">
				<main role="main">
                    {% block content %}
					<!-- Main content -->
                    {% endblock %}
				</main>
			</div>

		</div> <!-- /row content -->

		<footer class="page-footer font-small text-white pt-4 footer-bg">
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 mt-md-0 mt-3">
						<h5 class="text-uppercase text-shadow-sm">Содержимое</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<!-- /Footer text -->
					<hr class="clearfix w-100 d-md-none pb-3">
					<!-- Footer links -->
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase text-shadow-sm">Links</h5>
						<ul class="list-unstyled">
							<li><a href="#">Ссылка 1</a></li>
							<li><a href="#">Ссылка 2</a></li>
							<li><a href="#">Ссылка 3</a></li>
							<li><a href="#">Ссылка 4</a></li>
						</ul>
					</div>
					<!-- /Footer links -->
				</div> <!-- /row -->
			</div> <!-- /container-fluid -->
			<!-- Copyright -->
			<div class="footer-copyright text-center py-2 nav-bg">
				<!-- style="background-color: #1C2331" -->
				&copy; 2019 Copyright: <a href="#"> Shvetsov Dmitry</a>
			</div>
			<!-- /Copyright -->
		</footer>

	</body>
</html>