<!DOCTYPE html>
<html>

	<head>
		<title>PageTitle | ArticlesSite</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Shvetsov Dmitry">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../../static/articles/style-new.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

		<style>
			.bd-placeholder-img {
		        font-size: 1.125rem;
		        text-anchor: middle;
		        -webkit-user-select: none;
		        -moz-user-select: none;
		        -ms-user-select: none;
		        user-select: none;
		    }

	    	@media (min-width: 768px) {
	        	.bd-placeholder-img-lg {
	            	font-size: 3.5rem;
				}
	      	}
	    </style>

	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark shadow nav-bg">
			    <a class="navbar-brand" href="#">ArticlesSite</a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			        <ul class="navbar-nav mr-auto">
				        <li class="nav-item active">
				            <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="#">Вход</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="#">Регистрация</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Добавить статью</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Профиль</a>
				        </li>
			        </ul>
			        <form class="form-inline mt-2 mt-md-0">
			        	<input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
			        	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
			        </form>
			    </div>
			</nav>
		</header>
		<div class="content">
			<div class="row">
				<div class="col-light col-xs-5 col-sm-4 col-md-3 col-lg-3 text-center">
					<h3 class="text-white py-3 shadow text-header-hl">Популярные статьи:</h3>
					<div class="py-1">
						<ul class="text-white list-unstyled shadow text-body-hl">
							<li>
								Первая статья
							</li>
							<li>
								Вторая статья
							</li>
							<li>
								Третья статья
							</li>
							<li>
								Четвертая статья
							</li>
							<li>
								Пятая статья
							</li>
						</ul>
					</div> <!-- /py-1 -->
				</div> <!-- /col-light -->
				<div class="col col-dark">
					<main role="main">
						<h3 class="text-white py-3 shadow text-center text-header-hl">Последние 10 статей</h3>
						<div class="album py-1">
							<div class="container">
								<div class="row">
									<!-- Card 1 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow rounded">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 2 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 3 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow-sm">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 4 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow-sm">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 5 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow-sm">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 6 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow-sm">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

									<!-- Card 7 -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
										<div class="card mb-4 shadow-sm">
											<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
											<div class="card-body">
												<p class="card-text">
													Title
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
													</div>
													<small class="text-muted">9 mins</small>
												</div> <!-- /d-flex -->
											</div> <!-- /card-body -->
										</div> <!-- /card -->
									</div> <!-- /col-md-4 -->

								</div> <!-- /row -->
							</div> <!-- /container -->
						</div> <!-- /album -->
					</main>
				</div> <!-- /col -->
			</div> <!-- /row -->
		</div> <!-- /content -->

		<footer class="page-footer font-small text-white pt-4 footer-bg">
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 mt-md-0 mt-3">
						<h5 class="text-uppercase">Содержимое</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<!-- /Footer text -->
					<hr class="clearfix w-100 d-md-none pb-3">
					<!-- Footer links -->
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase">Links</h5>
						<ul class="list-unstyled">
							<li><a href="#">Ссылка 1</a></li>
							<li><a href="#">Ссылка 2</a></li>
							<li><a href="#">Ссылка 3</a></li>
							<li><a href="#">Ссылка 4</a></li>
						</ul>
					</div>
					<!-- /Footer links -->
				</div> <!-- /row -->
			</div> <!-- /container-fluid -->
			<!-- Copyright -->
			<div class="footer-copyright text-center py-2 nav-bg">
				<!-- style="background-color: #1C2331" -->
				&copy; 2019 Copyright: <a href="#"> Shvetsov Dmitry</a>
			</div>
			<!-- /Copyright -->
		</footer>

	</body>
</html>