.custom-select option {
	color: #000;
	width: 100%;
}
/*.container {
	position: relative;
	width: 100%;
	max-width: 400px;
}

.container img {
	width: 100%;
	height: auto;
}

.container .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	/*font-size: 16px;*/
	/*padding: 10px 18px;*/
	/*border: none;*/
	/*cursor: pointer;*/
	/*border-radius: 5px;*/
	/*text-align: center;*/
/*}*/