{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Ошибка{% endblock %}

{% block content %}
<h3 class="text-white py-3 shadow text-center text-header-hl text-shadow-md">Ошибка</h3>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
	{% bootstrap_messages %}
	<p class="text-center text-white h4 py-2">
		При регистрации произошла ошибка. Попробуйте снова.
	</p>
	<a class="btn btn-success btn-block" href="{% url 'articles:register' %}">Зарегистрироваться <img src="https://img.icons8.com/dusk/32/000000/enter-2.png"></a>
	<a class="btn btn-sm btn-info btn-block mb-2" href="{% url 'articles:index' %}">На главную <img src="https://img.icons8.com/dusk/32/000000/home-page.png"></a>
</div>
{% endblock %}