{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load countries %}

{% block title %}Редактирование профиля {{ user.username }}{% endblock %}

{% block content %}
<div class="col-md-4">
	<div class="card card-profile">
		<div class="card-avatar">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}

				{% if user.account_image %}
				<img id="profilePicture" class="img" src="https://yt3.ggpht.com/WVRcZ5FLdU77PVwnKGRElsqYzsQQimvL8ChTiGkHYiiL3fjrezDtFCTEoHThK2M8GazV_ofA5DmBxTs3-g=s900-mo-c-c0xffffffff-rj-k-no" />
				<input type="file" name="account_image" id="id_account_image" class="d-none">
				<!-- {{ picture_form.account_image|attr:"class:d-none" }} -->

				{% elif user.account_image_url %}
				<input type="image" class="img" src="{{ user.account_image_url }}" class="form-control" />
				<input type="file" name="account_image_url" id="id_account_image_url" class="d-none">
				<script type="text/javascript">
					$("input[type='image']").click(function() {
						alert('1');
    					$("input[id='id_account_image_url']").click();
					});
				</script>
				{% else %}
				<input type="image" class="img" src="http://upload.wikimedia.org/wikipedia/commons/c/ca/Button-Lightblue.svg" />
				{{ picture_form.account_image }}
				<script type="text/javascript">
					$("input[type='image']").click(function() {
						alert('1');
    					$("input[id='id_account_image']").click();
					});
				</script>
				{% endif %}
			</form>
		</div>
<!-- 		<ul class="navbar-nav" style="position: relative; top: 0em; left: 1.5em; z-index: 10000">
            <li class="nav-item dropdown">
                <button class="nav-link btn btn-sm btn-primary" id="slider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	Изменить
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="slider" style="max-width: 10px;">
                    <a class="dropdown-item" href="javascript:void(0)">Photo</a>
                	<a class="dropdown-item" href="javascript:void(0)">Link</a>
                </div>
            </li>
        </ul> -->
		<div class="card-body">
			<h6 class="card-category">{{ user.activity }}</h6>
			<h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
			<p class="card-description">
				{{ user.status }}
			</p>
			{% if not user.username == request.user.username %}
				{% if user not in request.user.user_subscriptions.all %}
				<a href="{% url 'articles:subscribe_user' username=user.username %}" class="btn btn-primary btn-round">Follow</a>
				{% else %}
				<a href="{% url 'articles:unsubscribe_user' username=user.username %}" class="btn btn-primary btn-round">Unfollow</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
<!-- 	<div class="card">
		<div class="card-header card-header-info">
			<h4 class="card-title">Подписки <i class="material-icons">grade</i></h4>
		</div>
		<div class="card-body">
			<p>Здесь будут отображаться пользователи, теги и категории на которые вы подписаны</p>
		</div>
	</div> -->
</div>
<!-- {% bootstrap_form form layout='horizontal' %} -->
<div class="col-md-8">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Профиль</h4>
			<p class="card-category">Изменить информацию профиля</p>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Имя пользователя
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<!-- {{ form.username|attr:"class:form-control" }} -->
											<input type="text" class="form-control" id="id_username" name="username" placeholder="Введите имя пользователя" value="{{ user.username }}" required>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Email
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="email" class="form-control" id="id_email" name="email" placeholder="Введите email" value="{{ user.email }}" required>
											<!-- {{ form.email|attr:"class:form-control" }} -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Компания
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{{ form.company|attr:"class:form-control" }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Деятельность
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_activity" name="activity" placeholder="Введите вид деятельности" value="{{ user.activity }}">
											<!-- {{ form.activity|attr:"class:form-control" }} -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Имя
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Введите имя" value="{{ user.first_name }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Фамилия
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Введите фамилию" value="{{ user.last_name }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Страна
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{{ form.country|attr:"class:form-control custom-select" }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Город
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_city" name="city" placeholder="Введите город" value="{{ user.city }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											О себе
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<textarea type="text" class="form-control" id="id_bio" name="bio" placeholder="Напишите о себе">{{ user.bio }}</textarea>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary pull-right">Обновить информацию</button>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}