{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load countries %}

{% block title %}Редактирование профиля {{ user.username }}{% endblock %}

{% block page_title %}Редактирование профиля {{ user.username }}{% endblock %}

{% block content %}
<div class="col-md-4">
	<div class="card card-profile">
		<div class="card-avatar" style="max-width: 200px; max-height: 250px">
			<form method="post" enctype="multipart/form-data" id="pictureForm" onchange="submitIfFormComplete()">
				{% csrf_token %}

				{% if user.account_image %}
				<!-- <img class="img" src="https://linkconnects.com/uploads/d3ab3e7df0d626f98bb84c9a97982d4d.jpg" id="profilePicture"> -->
				<img class="img" src="{{ user.account_image.url }}" id="profilePicture" style="cursor: pointer;"/>
				<input type="file" name="account_image" id="id_account_image" class="d-none">

				{% elif user.account_image_url %}
				<img class="img" src="{{ user.account_image_url }}" id="profilePicture" style="cursor: pointer;"/>
				<input type="file" name="account_image_url" id="id_account_image_url" class="d-none">

				{% else %}
				<img class="img" src="https://yt3.ggpht.com/WVRcZ5FLdU77PVwnKGRElsqYzsQQimvL8ChTiGkHYiiL3fjrezDtFCTEoHThK2M8GazV_ofA5DmBxTs3-g=s900-mo-c-c0xffffffff-rj-k-no" id="profilePicture" style="cursor: pointer" />
				<input type="file" name="account_image" id="id_account_image" class="d-none">
				{% endif %}
			</form>
			<!-- <button class="nav-link btn btn-sm btn-primary" id="slider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить</button> -->
		</div>
		<ul class="navbar-nav" >
	        <li class="nav-item dropdown">
	            <button class="nav-link btn btn-primary btn-block" id="slider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50%; left: 25%;">
	            	Изображение
	            </button>
	            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="slider">
	                <a class="dropdown-item" href="javascript:void(0)" id="uploadLink">Загрузить фото</a>
	            	<a class="dropdown-item" href="javascript:void(0)">Прикрепить ссылку на фото</a>
	            </div>
	        </li>
	    </ul>
		<div class="card-body">
			<h6 class="card-category">{{ user.activity }}</h6>
			<h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
			<p class="card-description">
				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td><input type="text" name="status" id="id_status" value="{{ user.status }}" placeholder="Введите статус" class="form-control"></td>
								<td><button id="submitStatus" type="button" class="btn btn-sm btn-primary" style="display: none">OK</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</p>
		</div>
	</div>
	<!-- Managing the pictureForm -->
	<script type="text/javascript">
		// Show and hide submitStatus button.
		$(document).ready(function() {
			$('#id_status').on('focus', function() {
				$('#submitStatus').slideDown('fast');
			});
			var status = '';
			$('#submitStatus').on('click', function() {
				$('#submitStatus').slideUp('fast');
				status = $('#id_status').val();
				alert(status);
				$.post('{% url "articles:update_status" %}', status).done(function(data) {
					$('.content div.text-center').append('<div class="alert alert-success alert-dismissable fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>Вы успешно вышли с сайта!</div>')
				});
			});
			$("#id_status").on('blur', function() {
				$('#submitStatus').slideUp('fast');
			});
		});

		// Click on image
		$("#profilePicture").click(function() {
			$("#id_account_image").click();
		});
		$('#uploadLink').click(function() {
			$('#id_account_image').click();
		});
		// Check if user changed something.
		function submitIfFormComplete() {
			if ($('#id_account_image').prop('files')){
				$('#pictureForm').submit();
			}
		}
	</script>
</div>
<!-- {% bootstrap_form form layout='horizontal' %} -->
<div class="col-md-8">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Профиль</h4>
			<p class="card-category">Изменить информацию профиля</p>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Имя пользователя
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<!-- {{ form.username|attr:"class:form-control" }} -->
											<input type="text" class="form-control" id="id_username" name="username" placeholder="Введите имя пользователя" value="{{ user.username }}" required>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Email
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="email" class="form-control" id="id_email" name="email" placeholder="Введите email" value="{{ user.email }}" required>
											<!-- {{ form.email|attr:"class:form-control" }} -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Компания
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{{ form.company|attr:"class:form-control" }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Деятельность
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_activity" name="activity" placeholder="Введите вид деятельности" value="{{ user.activity }}">
											<!-- {{ form.activity|attr:"class:form-control" }} -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Имя
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Введите имя" value="{{ user.first_name }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Фамилия
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Введите фамилию" value="{{ user.last_name }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Страна
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{{ form.country|attr:"class:form-control custom-select" }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Город
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" class="form-control" id="id_city" name="city" placeholder="Введите город" value="{{ user.city }}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											О себе
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<textarea type="text" class="form-control" id="id_bio" name="bio" placeholder="Напишите о себе">{{ user.bio }}</textarea>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary pull-right">Обновить информацию</button>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}