{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}Удалить статью{% endblock %}

{% block content %}
<h3 class="text-white py-3 text-center text-header-hl w-100 shadow-lg text-shadow-md">Удалить статью</h3>
<div class="mx-auto py-3 col">
	<script type="text/javascript">
		$(document).ready(function() {
			$('#id_username').on('input', function() {
				if ($("#id_username").val() == "{{ article.author }}"){
					$("#submit_btn").removeClass("disabled");
				}
			});
		});
	</script>
	<div class="album py-1 px-auto">
		<div class="row container-fluid d-flex justify-content-center mx-auto pl-sm-4 pl-xs-5 pr-auto">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4">
				<div class="card mb-4 shadow-sm my-0">
					{% if article.image %}
						<img src="{{ article.image.url }}" class="card-image">
					{% elif article.image_url %}
						<img src="{{ article.image_url }}" class="card-image">
					{% else %}
						<svg class="bd-placeholder-img card-img-top" width="100%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
					{% endif %}
					<!-- Rating -->
					<div class="rating shadow-sm p-2">
						<h6 class="text-white rating-text">{{ article.rating }}</h6>
					</div>
					<!-- /Rating -->
					<div class="card-body">
						<div class="row d-flex">
							<p class="card-text" style="display: table-cell; height: 50px; vertical-align: middle; overflow: hidden;">
								{{ article.title }}
							</p>
						</div>
						<div class="row pt-3">
							<div class="btn-group btn-block">
								<a class="btn btn-sm btn-outline-secondary" href="{{ url }}{{ all }}">View</a>
								<!-- Если пользователь - автор этой статьи, то отображать эту кнопку -->
								<a class="btn btn-sm btn-outline-secondary" href="#">Edit</a>
							</div>
						</div>
						<div class="row pt-3 pd-0 my-0">
							<div class="col text-left">
								<small class="text-muted">{{ article.views }} просмотров</small>
							</div>
							<div class="col text-right">
								<small class="text-muted">{{ article.created_at }}</small>
							</div>
						</div>
					</div> <!-- /card-body -->
				</div> <!-- /card -->
			</div> <!-- /col-md-4 -->
		</div> <!-- /row -->
	</div> <!-- /album -->

	<div class="row d-flex justify-content-center">
		<form class="text-white" method="post">
			{% csrf_token %}
			<div class="row">
				<label for="id_username">Введите ваш логин чтобы подтвердить удаление:</label>
			</div>
			<div class="row">
				<input type="text" name="author" id="id_username" class="form-control" placeholder="">
			</div>
			<button class="btn btn-danger btn-block mt-2 disabled" type="submit" id="submit_btn">Подтвердить</button>
			<a href="#" class="btn btn-info btn-block">Отмена</a>
		</form>
	</div>
</div>
{% endblock %}