{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load countries %}

{% block title %}Редактирование профиля {{ user.username }}{% endblock %}

{% block content %}
<h3 class="text-white py-3 text-center text-header-hl w-100 shadow-lg text-shadow-md">Редактирование профиля {{ user.username }}</h3>

<div class="row container-fluid">
	<form enctype="multipart/form-data">
		<div class="ml-3 col-sm-9 col-md-5 col-lg-4">
			<div class="row mx-auto">
				<h5 class="text-white text-shadow-sm">{{ user.username }}</h5>
			</div>
			<div class="row mx-auto">
				{% if user.account_image %}
					<img src="{{ user.account_image.url }}" class="img-thumbnail profile-image">
				{% elif user.account_image_url %}
					<img src="{{ user.account_image_url }}" class="img-thumbnail profile-image">
				{% else %}
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/2000px-Boostrap_logo.svg.png" class="img-thumbnail profile-image">
				{% endif %}
			</div>
			<div class="row mx-auto">
				<input type="file" name="account_image" id="id_account_image" accept="image/*">
			</div>
			<div class="row mx-auto">
				<ul class="list-unstyled w-50">
					{% if user.vk_url %}
						<li><a href="{{ user.vk_url }}" class="btn btn-sm btn-outline-secondary btn-block"><img src="https://icon-icons.com/icons2/832/PNG/32/vk_icon-icons.com_66681.png"> ВКонтакте</a></li>
					{% endif %}
					{% if user.fb_url %}
						<li><a href="{{ user.fb_url }}" class="btn btn-sm btn-info btn-block"><img src="https://icon-icons.com/icons2/1906/PNG/32/iconfinder-facebook-4550856_121356.png"> Facebook</a></li>
					{% endif %}
					{% if user.tw_url %}
						<li><a href="{{ user.tw_url }}" class="btn btn-sm btn-info btn-block">Twitter</a></li>
					{% endif %}
					{% if user.ok_url %}
						<li><a href="{{ user.ok_url }}" class="btn btn-sm btn-info btn-block">Одноклассники</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-7">
			<h5 class="text-white text-shadow-sm">Информация</h5>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Имя</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.first_name }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Фамилия</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.last_name }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Страна</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.country.name }} <img id="{{ user.country.flag_id }}" src="{{ user.country.flag }}"></h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Город</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.city }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Дата рождения</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.bdate }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Пол</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.gender }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h6 class="text-secondary text-shadow-sm">Рейтинг</h6>
				</div>
				<div class="col">
					<h6 class="text-white">{{ user.rating }}</h6>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}