{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Вход{% endblock %}

{% block page_title %}Вход{% endblock %}

{% block content %}
<div class="col-md-2 col-lg-3">
</div>
<div class="card col">
	<div class="card-header card-header-primary">
		<h4 class="card-title">Вход</h4>
		Введите данные учетной записи
	</div>
	<div class="card-body">
		<form method="post">
			{% csrf_token %}
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>
								<span class="bmd-form-group">
									<input type="text" id="id_username" name="username" placeholder="Имя пользователя" class="form-control mt-2" required autofocus>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bmd-form-group">
									<input type="password" id="id_password" name="password" placeholder="Пароль" class="form-control mt-2" required>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-success" type="submit">Войти</button>
								или войти с помощью
								<ul class="list-inline" style="display: inline-block">
									<li class="list-inline-item">
										<a href="#" title="Sign up with Google Plus."><img src="https://img.icons8.com/color/48/000000/google-plus.png"></a>
									</li>
									<li class="list-inline-item">
										<a href="#" title="Sign up with Facebook."><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
									</li>
									<li class="list-inline-item">
										<a href="#" title="Sign up with VKontakte."><img src="https://img.icons8.com/color/48/000000/vk-com.png"></a>
									</li>
									<li class="list-inline-item">
										<a href="#" title="Sign up with Github."><img src="https://img.icons8.com/color/48/000000/github.png"></a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			Не можете войти в учетную запись? <a class="btn btn-sm btn-primary" href="{% url 'articles:reset_password' %}">Восстановить доступ</a>
		</form>
	</div>
</div>
<div class="col-md-2 col-lg-3">
</div>
<script type="text/javascript">
	$('#id_username').on('input', function() {
		if ($(this).val().length > 3){
			$(this).parent().addClass('form-control-success');
			$(this).parent().removeClass('form-control-warning');
		}
		else {
			$(this).parent().addClass('form-control-warning');
			$(this).parent().removeClass('form-control-success');
		}
	});
	$('#id_password').on('input', function() {
		if ($(this).val().length > 7){
			$(this).parent().addClass('form-control-success');
			$(this).parent().removeClass('form-control-warning');
		}
		else {
			$(this).parent().addClass('form-control-warning');
			$(this).parent().removeClass('form-control-success');
		}
	});
</script>
{% endblock %}