{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load countries %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h3 class="text-white py-3 text-center text-header-hl w-100 shadow-lg text-shadow-md d-flex justify-content-center" style="line-height: 0.95">
		Профиль пользователя {{ user.username }} 
		{% if user.is_activated %}
			<a title="Профиль подтвержден."><img src="https://img.icons8.com/dusk/32/000000/verified-account.png" class="ml-2 my-0 py-0"></a>
		{% else %}
			<a title="Профиль не подтвержден."><img src="https://img.icons8.com/dusk/32/000000/unverified-account.png" class="ml-2 my-0 py-0"></a>
		{% endif %}
</h3>

<!-- Main content -->
<div class="row container-fluid">
	<div class="ml-3 col-sm-9 col-md-5 col-lg-4">
		<div class="row mx-auto">
			<h5 class="text-white text-shadow-sm">{{ user.username }}</h5>
		</div>
		<div class="row mx-auto">
			{% if user.account_image %}
				<img src="{{ user.account_image.url }}" class="img-thumbnail profile-image">
			{% elif user.account_image_url %}
				<img src="{{ user.account_image_url }}" class="img-thumbnail profile-image">
			{% else %}
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/2000px-Boostrap_logo.svg.png" class="img-thumbnail profile-image">
			{% endif %}
		</div>
		<div class="row mx-auto d-flex justify-content-left">
				{% if user.vk_url %}
					<a href="{{ user.vk_url }}" class="mx-1"><img src="https://img.icons8.com/dusk/48/000000/vk-com.png"></a>
				{% endif %}
				{% if user.fb_url %}
					<a href="{{ user.fb_url }}" class="mx-1"><img src="https://img.icons8.com/dusk/48/000000/facebook-new.png"></a>
				{% endif %}
				{% if user.tw_url %}
					<a href="{{ user.tw_url }}" class="mx-1"><img src="https://img.icons8.com/dusk/48/000000/twitter.png"></a>
				{% endif %}
				{% if user.ok_url %}
					<a href="{{ user.ok_url }}" class="mx-1"><img src="https://img.icons8.com/dusk/48/000000/odnoklassniki.png"></a>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-7">
		<h5 class="text-white text-shadow-sm">Информация</h5>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Имя</h6>
			</div>
			<div class="col">
				<h6 class="text-white">{{ user.first_name }}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Фамилия</h6>
			</div>
			<div class="col">
				<h6 class="text-white">{{ user.last_name }}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Страна</h6>
			</div>
			<div class="col">
				<h6 class="text-white"><img id="{{ user.country.flag_id }}" src="{{ user.country.flag }}" height="20"> {{ user.country.name }}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Город</h6>
			</div>
			<div class="col">
				<h6 class="text-white">{{ user.city }}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Дата рождения</h6>
			</div>
			<div class="col">
				<h6 class="text-white"><img src="https://img.icons8.com/dusk/32/000000/planner.png"> {{ user.bdate }}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Пол</h6>
			</div>
			<div class="col">
				<h6 class="text-white">
					{% if user.gender.one_letter_name == 'M' %}
					<img src="https://img.icons8.com/dusk/32/000000/user.png">
					{% elif user.gender.one_letter_name == 'F' %}
					<img src="https://img.icons8.com/dusk/32/000000/person-female.png">
					{% endif %}{{ user.gender }}
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<h6 class="text-secondary text-shadow-sm">Рейтинг</h6>
			</div>
			<div class="col">
				<h6 class="text-white">{{ user.rating }}</h6>
			</div>
		</div>
		{% if request.user == user or request.user.username == 'admin' %}
		<div class="row mx-auto my-2">
			<a href="{% url 'articles:profile_change' username=user.username %}" class="btn btn-outline-secondary btn-block"><img src="https://img.icons8.com/dusk/32/000000/edit.png"> Редактировать профиль</a>
			<a href="{% url 'articles:change_password' %}" class="btn btn-outline-info btn-block"><img src="https://img.icons8.com/dusk/32/000000/edit.png"> Изменить пароль</a>
		</div>
		{% endif %}
		{% if not request.user == user %}
			{% if user not in request.user.user_subscriptions.all %}
			<div class="row mx-auto my-2">
				<a href="{% url 'articles:subscribe' username=user.username %}" class="btn btn-outline-secondary btn-block"><img src="https://img.icons8.com/dusk/32/000000/add-to-favorites.png"> Подписаться</a>
			</div>
			{% else %}
			<div class="row mx-auto my-2">
				<a href="{% url 'articles:unsubscribe' username=user.username %}" class="btn btn-outline-secondary btn-block"><img src="https://img.icons8.com/dusk/32/000000/add-to-favorites.png"> Отписаться</a>
			</div>
			{% endif %}
		{% else %}
		<div class="row mx-auto my-2">
			<h4 class="text-white">Мои подписки</h4>
		</div>
		<div class="row">
			<div class="col">
				Пользователи
				<ul class="list-unstyled">
					{% for sub in user.user_subscriptions.all %}
						<li>
							<a href="{% url 'articles:profile' username=sub.username %}">{{ sub.username }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col">
				Теги
				<ul class="list-unstyled">
					{% for sub in user.user_subscriptions.all %}
						<li>
							<a href="{% url 'articles:profile' username=sub.username %}">{{ sub.username }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}