{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load countries %}

{% block title %}Профиль пользователя{% endblock %}

{% block page_title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="col-md-4">
	<div class="card card-profile">
		<div class="card-avatar">
			<a href="#pablo">
				{% if user.account_image %}
				<img class="img" src="{{ user.account_image.url }}" />
				{% elif user.account_image_url %}
				<img class="img" src="{{ user.account_image_url }}" />
				{% else %}
				<img class="img" src="https://yt3.ggpht.com/WVRcZ5FLdU77PVwnKGRElsqYzsQQimvL8ChTiGkHYiiL3fjrezDtFCTEoHThK2M8GazV_ofA5DmBxTs3-g=s900-mo-c-c0xffffffff-rj-k-no" />
				{% endif %}
			</a>
		</div>
		<div class="card-body">
			<h6 class="card-category">{{ user.activity }}</h6>
			<h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
			<p class="card-description">
				{{ user.status }}
			</p>
			{% if not user.username == request.user.username %}
				{% if user not in request.user.user_subscriptions.all %}
				<a href="{% url 'articles:subscribe_user' username=user.username %}" class="btn btn-primary btn-round">Follow</a>
				{% else %}
				<a href="{% url 'articles:unsubscribe_user' username=user.username %}" class="btn btn-primary btn-round">Unfollow</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="card">
		<div class="card-header card-header-info">
			<h4 class="card-title">Подписки <!-- <i class="material-icons">grade</i> --></h4>
		</div>
		<div class="card-body">
			<p>Здесь будут отображаться пользователи, теги и категории на которые вы подписаны</p>
		</div>
	</div>
</div>
<div class="col-md-8">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Профиль</h4>

			<p class="card-category">Информация</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Имя пользователя
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.username }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Компания
									</th>
								</tr>
							</thead>
							<tbody>
								<tr onclick="window.location='#'" onmouseover="" style="cursor: pointer">
									<td>
										{{ user.company }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Деятельность
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.activity }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Имя
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.first_name }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Фамилия
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.last_name }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Страна
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.country.name }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										Город
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ user.city }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									О себе
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{ user.bio }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
				{% if user == request.user %}
					<a href="{% url 'articles:profile_change' username=user.username %}" class="btn btn-primary pull-right">Редактировать профиль</a>
				{% endif %}
				<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}