{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Регистрация{% endblock %}

{% block page_title %}Регистрация{% endblock %}

{% block content %}
{% bootstrap_messages %}
<div class="col-md-2 col-lg-3">
</div>
<div class="card col">
	<div class="card-header card-header-primary">
		<h4 class="card-title">Регистрация</h4>
		Введите данные учетной записи
	</div>
	<div class="mt-4">
		{% if form.non_field_errors %}
			<div class="card-header card-header-danger list-unstyled">{{ form.non_field_errors }}</div>
		{% endif %}
		{% if form.username.errors %}
			<div class="card-header card-header-danger list-unstyled">{{ form.username.errors }}</div>
		{% endif %}
		{% if form.email.errors %}
			<div class="card-header card-header-danger list-unstyled">{{ form.email.errors }}</div>
		{% endif %}
		{% if form.password1.errors %}
			<div class="card-header card-header-danger list-unstyled">{{ form.password1.errors }}</div>
		{% endif %}
		{% if form.password2.errors %}
			<div class="card-header card-header-danger list-unstyled">{{ form.password2.errors }}</div>
		{% endif %}
	</div>
	<form method="post" id="registerForm">
		{% csrf_token %}
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>
							<span class="bmd-form-group">
								<input type="text" id="id_username" name="username" placeholder="Имя пользователя" class="form-control mt-2" required autofocus>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="btd-form-group">
								<input type="email" id="id_email" name="email" placeholder="Email" class="form-control mt-2" required>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="bmd-form-group">
								<input type="password" id="id_password1" name="password1" placeholder="Пароль" class="form-control mt-2" required>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="bmd-form-group">
								<input type="password" id="id_password2" name="password2" placeholder="Повторите пароль" class="form-control mt-2" required>
							</span>
							<span class="text-success d-none h6" id="passwordSuccessful"><!-- <i class="material-icons">done_outline</i> -->Пароли совпадают</span>
							<span class="text-warning d-none h6" id="passwordWarning"><!-- <i class="material-icons">warning</i> -->Пароли не совпадают</span>
						</td>
					</tr>
					<tr id="sendMessagesRow">
						<td>
							<input type="checkbox" name="send_messages" id="id_send_messages"> Получать уведомления по почте?
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-success" type="submit" id="submitBtn" style="cursor: not-allowed;" disabled>Зарегистрироваться</button>
							или войти с помощью
							<ul class="list-inline" style="display: inline-block">
								<li class="list-inline-item">
									<a href="#" title="Sign up with Google Plus."><img src="https://img.icons8.com/color/48/000000/google-plus.png"></a>
								</li>
								<li class="list-inline-item">
									<a href="#" title="Sign up with Facebook."><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
								</li>
								<li class="list-inline-item">
									<a href="#" title="Sign up with VKontakte."><img src="https://img.icons8.com/color/48/000000/vk-com.png"></a>
								</li>
								<li class="list-inline-item">
									<a href="#" title="Sign up with Github."><img src="https://img.icons8.com/color/48/000000/github.png"></a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
<div class="col-md-2 col-lg-3">
</div>
<script type="text/javascript">
	$('#id_username').on('blur', function() {
		if ($(this).val().length > 3){
			$(this).parent().addClass('form-control-success');
			$(this).parent().removeClass('form-control-warning');
		}
		else {
			$(this).parent().addClass('form-control-warning');
			$(this).parent().removeClass('form-control-success');
		}
	});
	function isEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regex.test(email);
	}
	$('#id_email').on('input', function() {
		if (isEmail($(this).val()) == true){
			$(this).parent().removeClass('form-control-warning');
			$(this).parent().addClass('form-control-success');
		}
		else {
			$(this).parent().removeClass('form-control-success');
			$(this).parent().addClass('form-control-warning');
		}
	});
	$('#id_password1').on('input', function(){
		if ($(this).val().length < 8){
			$(this).parent().removeClass('form-control-success');
			$(this).parent().addClass('form-control-warning');
		}
		else {
			$(this).parent().addClass('form-control-success');
			$(this).parent().removeClass('form-control-warning');
		}
	});
	// Check if passwords equal.
	$('#id_password2').on('input', function() {
		if ($('#id_password1').val() == $('#id_password2').val()){
			$('#passwordSuccessful').removeClass('d-none');
			if (!$('#passwordWarning').hasClass('d-none')){
				$('#passwordWarning').addClass('d-none');
			}
			$('#id_password2').parent().addClass('form-control-success');
			$('#id_password2').parent().removeClass('form-control-warning');
			$('#id_password1').parent().addClass('form-control-success');
			$('#id_password1').parent().removeClass('form-control-warning');
		}
		else {
			$('#passwordWarning').removeClass('d-none');
			if (!$('#passwordSuccessful').hasClass('d-none')){
				$('#passwordSuccessful').addClass('d-none');
			}
			$('#id_password2').parent().removeClass('form-control-success');
			$('#id_password2').parent().addClass('form-control-warning');
			$('#id_password1').parent().removeClass('form-control-success');
			$('#id_password1').parent().addClass('form-control-warning');	
		}
	});
	$(document).on('input', function() {
		if ($('#id_username').val().length > 3 && isEmail($('#id_email').val()) && $('#id_password1').val().length >= 8 && $('#id_password1').val() == $('#id_password2').val()){
			$('#submitBtn').attr('disabled', false);
			$('#submitBtn').attr('style', 'cursor: pointer');
		}
		else {
			$('#submitBtn').attr('disabled', true);
			$('#submitBtn').attr('style', 'cursor: not-allowed');
		}
	});
</script>
{% endblock %}