{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Shvetsov Dmitry">
		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}
		<link rel="stylesheet" type="text/css" href="{% static 'articles/signin.css' %}">
		<title>Регистрация | {{ site_name }}</title>
	</head>
	<body class="text-center">

		<main role="main" class="container">
			{% bootstrap_messages %}
			<form class="form-signin" method="post">
				<img class="mb-4" alt width="72" height="72">
				{% csrf_token %}
				<h1 class="h3 mb-3 font-weight-normal">Введите данные учетной записи</h1>

				<div class="text-center">
					{% if form.non_field_errors %}
					<div class="alert alert-danger">
						{{ form.non_field_errors }}
					</div>
					{% endif %}
					{% if form.username.errors %}
					<div class="alert alert-danger">
						{{ form.username.errors }}
					</div>
					{% endif %}
					{% if form.email.errors %}
					<div class="alert alert-danger">
						{{ form.email.errors }}
					</div>
					{% endif %}
					{% if form.password1.errors %}
					<div class="alert alert-danger">
						{{ form.password1.errors }}
					</div>
					{% endif %}
					{% if form.password2.errors %}
					<div class="alert alert-danger">
						{{ form.password2.errors }}
					</div>
					{% endif %}
					{% if form.first_name.errors %}
					<div class="alert alert-danger">
						{{ form.first_name.errors }}
					</div>
					{% endif %}
					{% if form.last_name.errors %}
					<div class="alert alert-danger">
						{{ form.last_name.errors }}
					</div>
					{% endif %}
				</div>

				<div class="form-group">
					<label for="{{ form.username.id_for_label }}" class="sr-only">Имя пользователя</label>
					{{ form.username|attr:"class:form-control"|attr:"placeholder:Имя пользователя" }}

					{{ form.email|attr:"class:form-control"|attr:"placeholder:Email" }}
				</div>
				<div class="form-group">
					{{ form.password1|attr:"class:form-control"|attr:"placeholder:Пароль" }}
					{{ form.password2|attr:"class:form-control"|attr:"placeholder:Повторите пароль" }}
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
				<a class="btn btn-md btn-default btn-block" href="{% url 'articles:login' %}" style="background-color: purple; color: white">Войти</a>
				<a class="btn btn-info btn-block" href="{% url 'articles:index' %}">На главную</a>
				<br><br>
				<!-- {% bootstrap_form form layout='horizontal' %}
				{% buttons submin='Зарегистрироваться' %}{% endbuttons %} -->
			</form>
		</main>
		<footer class="footer">
      		<div class="container">
        		<span class="text-muted">&copy; <a href="https://github.com/GrobIvanovich/">Shvetsov Dmitry</a>, 2019 г.</span>
      		</div>
    	</footer>
	</body>
</html>