{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<h3 class="text-white py-3 shadow text-center text-header-hl text-shadow-md">Пароль успешно изменен</h3>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
	{% bootstrap_messages %}
	<h5 class="mb-3 font-weight-normal text-white">Теперь вы можете войти на сайт с новым паролем.</h5>

	<a class="btn btn-md btn-default btn-block my-2" href="{% url 'articles:login' %}" style="background-color: purple; color: white">Войти</a>
</div>
{% endblock %}