{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Забыли пароль{% endblock %}

{% block content %}
<h3 class="text-white py-3 shadow text-center text-header-hl text-shadow-md">Ввод нового пароля</h3>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
	{% bootstrap_messages %}
	<form class="form-signin" method="post">
		{% csrf_token %}
		<h5 class="mb-3 font-weight-normal text-white">Введите данные учетной записи</h5>


		<!-- Errors -->
		<div class="form-group row">
			{% if form.new_password1.errors %}
    			<ul class="list-unstyled">
	    			{% for error in form.new_password1.errors %}
	        			<li class="alert alert-danger mb-1"><strong>{{ error|escape }}</strong></li>
	    			{% endfor %}
    			</ul>
			{% endif %}
			{% if form.new_password2.errors %}
    			<ul class="list-unstyled">
	    			{% for error in form.new_password2.errors %}
	        			<li class="alert alert-danger mb-1"><strong>{{ error|escape }}</strong></li>
	    			{% endfor %}
    			</ul>
			{% endif %}
		</div>

		<!-- Password 1 -->
		<div class="form-group row">
			<div class="col-2">
				<label for="id_new_password1">
					<img src="https://img.icons8.com/dusk/48/000000/password1.png">
				</label>
			</div>
			<div class="col">
				<input type="password" id="id_new_password1" name="new_password1" placeholder="Введите новый пароль" class="form-control mt-2" required autofocus>
			</div>
		</div>

		<!-- Password 2 -->
		<div class="form-group row">
			<div class="col-2">
				<label for="id_new_password2">
					<img src="https://img.icons8.com/dusk/48/000000/password.png">
				</label>
			</div>
			<div class="col">
				<input type="password" id="id_new_password2" name="new_password2" placeholder="Повторите пароль" class="form-control mt-2" required>
			</div>
		</div>

		<button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Отправить</button>
		<!-- <a class="btn btn-md btn-default btn-block my-2" href="{{ request.META.HTTP_REFERER }}" style="background-color: purple; color: white">Назад</a> -->
	</form>
</div>
{% endblock %}