{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Добавить статью{% endblock %}

{% block content %}
<h2>Добавить статью</h2>
<div class="container-fluid add-article-form">
	<form method="post" class="" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form layout='horizontal' %}
		<button class="btn btn-primary btn-block" type="submit">Отправить</button>
	</form>

	<a href="{% url 'articles:index' %}" class="btn btn-info btn-block">На главную</a>
</div>
{% endblock %}