{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}{{ article.title }} - {{ article.category.name }}{% endblock %}

{% block content%}
<div class="card text-center">
	<div class="card-header">
		<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.stack.imgur.com%2FdLtpP.png&f=1">
	</div>
	<div class="card-body pt-0">
		<div>
			<h4 class="card-category">Категория: <a class="btn btn-sm btn-info" href="{% url 'articles:search_by_category' category_name=article.category.name %}">{{ article.category }}</a></h4>
		</div>
		<div>
			<h4 class="card-category">Теги: 
				{% for tag in tags %}
					<a class="btn btn-sm btn-default" href="{% url 'articles:search_by_tag' tag=tag.name %}">{{ tag.name }}</a>
				{% endfor %}
			</h4>
		</div>
		<h4 class="h2 card-category">{{ article.title }}</h4>
		<div class="h4 text-center" style="text-align: justify">
			{{ article.content }}
		</div>
		<div class="row">
			<div class="col">
				Автор: <a class="btn btn-sm" href="{% url 'articles:profile' username=article.author %}">{{ article.author }}</a>
			</div>
			<div class="col">
				Опубликовано: <a class="btn btn-sm" href="#">{{ article.created_at }}</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}