{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}{{ article.title }} - {{ article.rubric }} | ArticlesSite{% endblock %}

{% block content%}
<h2 class="text-center">{{ article.title }}</h2>
<div class="row container-fluid">
	<div class="col-xs-1">
		<a href="{% url 'articles:change_rating' rating=1 pk=article.pk %}" class="btn btn-warning">1</a>
		<a href="{% url 'articles:change_rating' rating=2 pk=article.pk %}" class="btn btn-warning">2</a>
		<a href="{% url 'articles:change_rating' rating=3 pk=article.pk %}" class="btn btn-warning">3</a>
		<a href="{% url 'articles:change_rating' rating=4 pk=article.pk %}" class="btn btn-warning">4</a>
		<a href="{% url 'articles:change_rating' rating=5 pk=article.pk %}" class="btn btn-warning">5</a>
		{{ article.rating }}
		<br>
		Всего проголосовавших: {{ article.rating_count }}
		<br>
		Просмотры: {{ article.views }}
	</div>
	<div class="col">
		<h6 class="text-center">
			{% for t in tags %}
				<button type="button" class="btn btn-info">
					{{ t.name }}
				</button>
			{% endfor %}
		</h6>
	</div>
</div>
<div class="container-fluid text-center">
    <p>{{ article.content|safe }}</p>
</div>
{{ article.created_at }}
{% endblock %}