{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<h3 class="text-white py-3 shadow text-center text-header-hl">Статьи</h3>
<div class="album py-1 px-auto">
	<div class="row container-fluid d-flex justify-content-center mx-auto pl-sm-4 pl-xs-5 pr-auto">

		<!-- Cards -->
		{% for article in last_articles %}
			{% url 'articles:article' pk=article.pk as url %}

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4">
				{% if request.user in article.viewed_users.all %}
				<div class="card mb-4 shadow-sm article-read" style="height: 95%">
				{% else %}
				<div class="card mb-4 shadow-sm my-0" style="height: 95%">
				{% endif %}
					{% if article.image %}
						<img src="{{ article.image.url }}" class="card-image">
					{% elif article.image_url %}
						<img src="{{ article.image_url }}" class="card-image">
					{% else %}
						<svg class="bd-placeholder-img card-img-top" width="100%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
					{% endif %}
					<!-- Rating -->
					<div class="rating shadow-sm p-2">
						<h6 class="text-white rating-text">{{ article.rating }}</h6>
					</div>
					<!-- /Rating -->
					<div class="card-body">
						<div class="row d-flex">
							<p class="card-text" style="display: table-cell; height: 50px; vertical-align: middle; overflow: hidden;">
								{{ article.title }}
							</p>
						</div>
						<div class="row pt-3">
							<!-- <div class="d-flex justify-content-between align-items-center"> -->
								<div class="btn-group btn-block">
									<a class="btn btn-sm btn-outline-secondary" href="{{ url }}{{ all }}">View</a>
									<!-- Если пользователь - автор этой статьи, то отображать эту кнопку -->
									{% if article.author == request.user %}
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									{% endif %}
								</div>
							<!-- </div> --> <!-- /d-flex -->
						</div>
						<div class="row pt-3 pd-0 my-0">
							<div class="col text-left">
								<small class="text-muted">{{ article.views }} просмотров</small>
							</div>
							<div class="col text-right">
								<small class="text-muted">{{ article.created_at }}</small>
							</div>
						</div>
					</div> <!-- /card-body -->
				</div> <!-- /card -->
			</div> <!-- /col-md-4 -->
		{% endfor %}

	</div> <!-- /row -->
</div> <!-- /album -->
{% endblock %}